<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BookWithEase</title>
    <link rel="stylesheet" href="~/css/arooms.css">
    <script src="https://kit.fontawesome.com/8dae890511.js" crossorigin="anonymous"></script>
</head>
<body>
    <section class="welcome-sectionb" id="home">
        <div class="container3">
            <h2 id="heading">Available Rooms</h2>
            <table class="room-table">
                <thead>
                    <tr>
                        <th>Room Number</th>
                        <th>Type</th>
                        <th>Price per Night</th>
                        <th>Floor</th>
                        <th>Room Size</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model) 
        {
            <tr>
                <td>@item.room_no</td>
                <td>@item.roomtype</td>
                <td>@item.pricePernight</td>
                <td>@item.roomfloor</td>
                <td>@item.roomSize</td>
                <td> <button><a href="/Booking/ConfirmBooking?roomid=@(item.roomId)&room_no=@(item.room_no)&roomtype=@(item.roomtype)&pricePernight=@(item.pricePernight)&roomfloor=@(item.roomfloor)&roomSize=@(item.roomSize)">Book@* <i class="fas fa-select"></i> *@</a></button></td>
            </tr>
        }
                </tbody>
            </table>
            </div>
    </section>
</body>
</html>

