
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BookWithEase</title>
    <link rel="stylesheet" href="~/css/confirmb.css">
    <script src="https://kit.fontawesome.com/8dae890511.js" crossorigin="anonymous"></script>
</head>
<body>
    <section class="welcome-sectionb" id="home">
        <div class="container3">
            <form class="reservation-form" method="post">
                <div class="form-section">
                    <h2>Room Details</h2>
                    <div class="column2">
                        <div class="form-row">
                            <label for="roomNumber">Room Number:</label>
                            <input type="number" id="room_no" name="room_no" value="@Model.room_no" required readonly>
                        </div>
                        <div class="form-row">
                            <label for="floor">Floor:</label>
                            <input type="number" id="roomfloor" name="roomfloor" value="@Model.roomfloor" required readonly>
                        </div>
                    </div>
                    <div class="column2">
                        <div class="form-row">
                            <label for="type">Type:</label>
                            <input type="text" id="roomtype" name="roomtype" value="@Model.roomtype" required readonly>
                        </div>
                        <div class="form-row">
                            <label for="size">Size:</label>
                            <input type="text" id="roomSize" name="roomSize" value="@Model.roomSize" required readonly>
                        </div>
                    </div>
                    <div class="column2">
                        <div class="form-row">
                            <label for="pricePerNight">Price/Night(GH₵) :</label>
                            <input type="number" id="pricePernight" name="pricePernight" value="@Model.pricePernight" required readonly>
                        </div>
                        <div class="form-row">
                            <label for="stayDuration">Stay Duration:</label>
                            <input type="number" id="stayDuration" name="stayDuration" value="@Model.stayDuration" required readonly>
                        </div>
                        <div class="form-row">
                            <label for="totalPrice">Total Price(GH₵) :</label>
                            <input type="number" id="totalPrice" name="totalPrice" value="@Model.totalPrice" required readonly>
                        </div>
                    </div>
                </div>
                <div class="form-section">
                    <h2>Contact Information</h2>
                    <div class="column2">
                        <div class="form-row">
                            <label for="firstName">First Name:</label>
                            <input type="text" id="firstname" name="firstname" placeholder="Your Firstname">
                        </div>
                        <div class="form-row">
                            <label for="lastName">Last Name:</label>
                            <input type="text" id="lastname" name="lastname" placeholder="Your Lastname">
                        </div>
                    </div>
                    <div class="column2">
                        <div class="form-row">
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" placeholder="Your Email">
                        </div>
                        <div class="form-row">
                            <label for="phone">Phone:</label>
                            <input type="tel" id="phone" name="phone" placeholder="Your Phone Number">
                        </div>
                    </div>
                </div>
                <div class="form-section" id="bookingdates">
                    <h2>Booking Dates</h2>
                    <div class="column2">
                        <div class="form-row">
                            <label for="arrival">Arrival Date:</label>
                            <input type="text" id="checkIn" name="checkIn" value="@Model.checkIn" required readonly />
                        </div>
                        <div class="form-row">
                            <label for="departure">Departure Date:</label>
                            <input type="text" id="checkOut" name="CheckOut" value="@Model.checkOut" required readonly />
                        </div>
                        <div class="form-row">
                            <label for="dateBooked">Date Booked:</label>
                            <input type="text" id="dateBooked" name="dateBooked" value="@Model.dateBooked" required readonly />
                        </div>
                    </div>
                </div>
                <input type="submit" value="Submit">
            </form>
        </div>
    </section>
</body>
</html>

